@charset "utf-8";


$verde: #047D35;	
$clean: #009C39;
$lato: "Lato", sans-serif;

html, body {height: 100%;}

*{margin: 0; padding: 0;}

body{
	margin: 0;
	padding: 0;

	::selection{
		background: #00e24f;
		color: #fff;
		text-shadow: none;
	}
	::-moz-selection{
		background: #00e24f;
		color: #fff;
		text-shadow: none;
	}
	p,span,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
	
	.int{
		width: 960px;
		margin: 0 auto;
	}

	#all{
		width: 100%;
		min-height: 100%;
		background-image: linear-gradient(bottom, rgb(255,255,255) 26%, rgb(242,242,242) 58%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(242,242,242) 58%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(242,242,242) 58%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(242,242,242) 58%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(242,242,242) 58%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.26, rgb(255,255,255)),
		color-stop(0.58, rgb(242,242,242))
	);
		header#header{
			border-top: 6px solid $clean;
			width: 100%;
			height: 110px;
			background:#fff;
			border-bottom: 3px solid #E2E2E2;
			

			h3{
				width: 197px;
				float: right;
				display: table;
				padding: 3px 10px;
				background: $clean;
				font-family: $lato;
				color: #fff;
				border-radius: 0 0 4px 4px; 
				-moz-border-radius: 0 0 4px 4px;
				-webkit-border-radius: 0 0 4px 4px;		

			}
			#brand{
				width: 250px;
				height: 80px;
				float: left;
			}

			#menu{
				font-family: $lato;
				font-size: 17px;
				width: auto;
				float: right;
				margin-top: 80px;
				margin-right: -215px;

				a{
					text-decoration: none;
					margin: 0 15px;
					color: #999;
					padding-bottom: 10px;
					-webkit-transition: all .25s ease-in-out;
					-moz-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					
					&:hover{
						border-bottom: 3px solid $clean;
						color: $clean;
					}
				} 
			}
		}


		#content{
			padding-top: 0;
			margin: 0;
			height: auto;
			min-height: 600px;

			#first{
				width: 100%;
				height: auto;
				display: table;


				#newsletter{
					width: 260px;
					height: 188px;
					float: left;
					background:#f2f2f2;
					padding: 10px;
					box-shadow:  0 0 12px #ccc;
					-moz-box-shadow:  0 0 12px #ccc;
					-webkit-box-shadow:  0 0 12px #ccc;

					h6{
						font-weight: normal;
						font-size: 12px;
						width: 270px;
						text-shadow: 1px 1px 1px #fff;
						margin: 3px 0 10px 0;
						color: #666;
					}

					#formNewsletter{
						width: 100%;

						input{
							width: 240px;
							height: 25px;

							&:focus{
								border-color: rgba(107, 236, 82, 0.8);
								
							}
						}

						button{
							background-color: #4cae4c;
							width: 140px;
							height: 35px;
							border: 1px solid #449d44;
							border-radius: 2px;
							-moz-border-radius: 2px;
							-webkit-border-radius: 2px;
							color: #fff;
							font-weight: bold;
							font-size: 16px;
							float: right;
							margin-right: 7px;

					
						}
					}

					h3{
						font-family: $lato;
						color: #666;
						text-shadow: 1px 1px 1px #fff;
						margin-top: -10px;
						width: 260px;
					}
				}

				#dicas{
					width: auto;
					float: left;
					margin-left: 10px;
					margin-top: 15px;

					.article{
						width: 210px;
						float: left;
						padding-right: 5px;
						border-right: 1px solid #f2f2f2;
						height: 204px;
						margin-left: 5px;

						&:last-child{ border: 0; }

						span{
							padding: 14px ;
							font-size: 42px;
							float: left;
							font-family: Georgia;
							font-style: italic;
							color: #fff;
							text-align: center;
							background: $clean;
							border-radius: 50%;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							font-weight: normal;

						}

						h4{
							float: left;
							width: 150px;
							font-size: 19px;
							position: relative;
							font-weight: normal;
							top: 5px;
							left: 5px;
							font-family: $lato;
							color: #919481;
							text-shadow: 1px 1px 1px #fff;
						}

						p{
							font-size: 12px;
							text-align: justify;
							display: table;
							width: 195px;
							float: left;
							line-height: 17px;
							color: rgb(112, 112, 112);
							margin-left: 3px;
							margin-top: 14px;
							text-shadow: 1px 1px 1px #fff;
						}
					}
				}
			}


			.container{
				width: 960px;
				height: auto;
				display: table;
				min-height: 150px;
				margin: 35px auto 0;

				h4{
					font-family: $lato;
					width: 100%;
					padding-bottom: 7px;
					border-bottom: 1px dotted #B0B3A6; 
					font-size: 24px;
					font-weight: normal;
					color: #8D917D;
				}

				#servicos{
					height: auto; 
					margin: 30px auto;
					display: table;
					width: 960px;
					padding-bottom: 20px;

					.service{
						width: 180px;
						height: 150px;
						float: left;
						margin: 0 30px;	
						opacity: 0.4;
						-webkit-transition: all .25s ease-in-out;
						-moz-transition: all .25s ease-in-out;
						-ms-transition: all .25s ease-in-out;
						-o-transition: all .25s ease-in-out;
						&:hover{
							opacity: 1;
						}					
						img{
							margin: 0 14px;
						}
						h5{
							font-size: 16px;
							text-align: center;
							text-shadow: 1px 1px 1px #fff;
							line-height: 19px;
							font-family: $lato;
							margin-top: 18px;

							&:nth-child(2){
								width: 224px;
								margin-left: -32px;
							}

						}
						
						&.clean{
							h5{
								margin-left: -47px;
							}
						}
					}

				}

				&.clientes{
					width: 960px;
					height: auto;
					padding-bottom: 40px;

					img{
						box-shadow: 0 0 10px #ccc;
						-webkit-box-shadow: 0 0 10px #ccc;
						-moz-box-shadow: 0 0 10px #ccc;
						margin: 25px 13px;
					}


				}
			}

			.servicoUnd{
				width: 960px;
				height: auto;
				margin: 50px auto;
				display: table;

				.imgService{
					width: 134px;
					float: left;
					height: auto;
					margin-top: 25px;
				
				}

				h3{
					float: left;
					width: 720px;
					height: auto;
					margin-left: 30px;
					color: $clean;
					font-family: $lato;
				}

				p{
					width: 720px;
					float: left;
					margin-left: 30px;
					font-family: Arial;
					font-size: 13px;
					text-shadow: 1px 1px 1px #fff;
				}
			}

		}
		.contact{
			width: 960px;
			height: auto;

			form{
				&.formContato {
					width: 450px;
					height: auto;
					margin: 30px 0;
					float: left;

					input{
						width: 450px;
						height: 30px;
					}

					textarea{
						resize:none;
						width: 450px;
						height: 180px;
					}

					button{
						width: 463px;
						
					}
				}
			}
			.info{
				width: 430px;
				float: left;
				height: auto;
				padding: 5px 15px;
				background: $verde;
				margin-top: 30px;
				margin-left: 30px;
				color: #fff;
			}
			.map{
				width: 450px;
				padding: 3px;
				height: auto;
				float: left;
				margin-left: 30px;
				margin-top: 5px;
				
			}
		}
	}

}


#footer{
	width: 100%;
	height: 60px;
	position: relative;
	border-top: -60px;
	background: $verde;
}

// slider 

.cbp-fwslider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 60px;
}
 
.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}
 
.cbp-fwslider ul li {
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}
 
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: none;
}
 
.cbp-fwslider ul li > a img {
    border: none;
    display: block;
    margin: 0 auto;
    // max-width: 100%;
    width: 960px;
}
 
.cbp-fwslider nav span {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    background: rgb(226,226,226);
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
    line-height: 100px;
    cursor: pointer;
    font-weight: normal;
}
 
.cbp-fwslider nav span:hover {
    background: #00B745;
}
 
.cbp-fwslider nav span.cbp-fwnext {
    right: 0px;
}
 
.cbp-fwslider nav span.cbp-fwprev {
    left: 0px;
}
 
.cbp-fwdots {
    position: absolute;
    bottom: 20px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
 
.cbp-fwdots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ddd;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
}
 
.cbp-fwdots span:hover {
    background: #999;
}
 
.cbp-fwdots span.cbp-fwcurrent {
    background: #009C39;
    box-shadow: 0 0 0 2px #009C39;
    transition: box-shadow 0.2s ease-in-out;
}

